{% extends "index.html" %}
{% block user_block %}
        href="{% url 'khata:profile' group_id %}"
{% endblock user_block %}
{% block user_block2 %}
        href="{% url 'khata:profile' group_id %}"
{% endblock user_block2 %}
{% block content %}

  <!-- Recent Expenses Card -->
  <div class="pt-20 flex gap-5">
<a href="{% url 'khata:home' group_id %}" class=" rounded-xl px-4 py-3  text-white text-lg sm:text-xl
                     bg-indigo-600/90 hover:bg-indigo-600 active:bg-indigo-700
                     shadow-lg shadow-indigo-600/20 cursor-pointer">
  Back
</a>
<a href="{% url 'khata:download_pdf' group_id start_date end_date %}" 
   class="bg-green-600 text-white px-4 py-2 rounded mt-4 inline-block">
  Download as PDF
</a>   
</div>
  <div class="bg-white shadow rounded-lg dark:bg-gray-900 dark:text-gray-200 md:mb-0 mt-6  mb-16">
    <div class="border-b px-4 py-2 md:font-medium  text-lg dark:text-gray-200 dark:bg-gray-900 rounded text-gray-700">Recent Expenses</div>
    <div class="p-4 max-h-[63vh] md:h-[95vh] overflow-y-auto">
     <ul class="divide-y divide-gray-200">
  {% for exp in objs %}
    <li class="py-3 text-sm md:text-lg ">
      <strong class=" dark:text-gray-200  text-gray-800">{{ exp.payer }}</strong>
      paid <span class="font-semibold">₹{{ exp.amount }}</span> — {{ exp.description }}
      <br />
      <small class="text-gray-500 dark:text-gray-400 text-[9px] lg:text-sm">
        {{ exp.date }} {{ exp.times }}
        <span>(
          {% for s in exp.spilts.all %}
            <span class="font-semibold text-gray-700 dark:text-gray-400">{{ s.user.username }}</span>: ₹{{ s.share }}
            {% if not forloop.last %}, {% endif %}
          {% empty %}
            (no splits)
          {% endfor %})
        </span>
      </small>
    </li>
  {% empty %}
    <li class="py-3 text-gray-500">No expenses yet.</li>
  {% endfor %}
</ul>

    </div>
  </div>
<script>
  document.addEventListener("DOMContentLoaded", () => {
  const plusBtn = document.getElementById("remove_form_hidden_plus");
  const searchBtn = document.getElementById("remove_form_hidden_plus2");

  // Agar URL /download/ par hai → hide plus & search
  if (window.location.pathname.includes("/download/")) {
    if (plusBtn) plusBtn.classList.add("hidden");
    if (searchBtn) searchBtn.classList.add("hidden");
  }
});

</script>
{% endblock %}